<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    
   <!-- Header -->
    <!-- Header -->
    <header id="top" class="header parallax-window" callout" data-parallax="scroll" data-image-src="img/flow5.jpg">
        <div id="intro" class="container" style="padding-top:5px">
            <div class="row row-centered">
                <div class="col-lg-12 text-centered">
                    <div class="text-vertical-top">
                        <a href="#about" class="btn btn-lg btn-dark">About</a>
                        <a href="#services" class="btn btn-lg btn-dark">Services</a>
                        <a href="#portfolio" class="btn btn-lg btn-dark">Publications</a>
                        <a href="#testimonials" class="btn btn-lg btn-dark">Testimonials</a>
                        <a href="#location" class="btn btn-lg btn-dark">Location</a>
                        <a href="#contact" class="btn btn-lg btn-dark">Contact</a>
                    </div>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-lg-12 text-centered" style="padding-top:150px">
                    <h1>BRPSoft Limited</h1>
                    <h2>Company Number 9735251</h2>
                    <h2>Baxter Pearson</h2>
                    <h3>Software Contractor and Freelancer</h3>
                </div>
            </div>
        </div>
    </header>
                                                                              
                                                                              
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="padding-left:100px;padding-right:100px">
                    <h1>About</h1>
                    <h3>
                        I have been a commercial software developer since year 2000. I have experience with many software, and web platforms, encompassing the latest industry trends.
                    </h3>
                    <h3>
                        I pride myself on producing software to the highest standards. For examples of my work and services offered please see below.
                    </h3>
                    <h3>
                        I will undertake new projects, and project upgrades.  I will also take bug or problem fixing tasks, as part of project upgrades.
                    </h3>
                    <h3>
                        Please contact me using the methods in the 'Contact' section below, if you have any questions, or enquires.
                    </h3>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1>Services</h1>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>ASP.NET Webforms</strong>
                                </h4>
                                <p>Experience since 2008 creating and maintaining Microsoft ASP.NET Webforms solutions</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>ASP.NET MVC</strong>
                                </h4>
                                <p>Experience since 2011 creating and updating Microsoft MVC web appication solutions</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-columns fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>WPF Applications</strong>
                                </h4>
                                <p>Experince since 2010 creating and maintaining Microsoft Windows Presentation Foundation applications</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-list-alt fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Winforms Applications</strong>
                                </h4>
                                <p>Experience since 2006 creating and maintaining Microsoft Winforms applications</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-database fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>SQL Server</strong>
                                </h4>
                                <p>Experience with all versions of Microsoft SQL Server since 2000 release</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-table fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Transactional SQL</strong>
                                </h4>
                                <p>Experience since 2008 using Microsoft T-SQL with many successful comerical projects</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cog fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>C# .NET</strong>
                                </h4>
                                <p>Experinced since 2006 creating and updating Microsoft C# .NET solutions</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cog fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>VB.NET</strong>
                                </h4>
                                <p>Experinced since 2007 creating and updating Microsoft VB .NET solutions</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h1>Published Work and Demos</h1>
                    <hr class="small">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="portfolio-item">
                                <h4>Angular JS Single Page Demo</h4>
                                <p>An AngularJS single page demo site, with data provided from a live SQL Server 2012 database via a hosted ASP.NET WebAPI project</p>
                                <a href="http://brpsoft.co.uk/Demo/Index.html#/" target="_blank">
                                    <img class="img-portfolio img-responsive" src="img/AngularJS.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="portfolio-item">
                                <h4>MVC 5 Demo Site</h4>
                                <p>A self contained ASP.NET MVC5 web application, with user logins managed, and live data provided via a hosted live SQL Server 2012 database</p>
                                <a href="http://brpsoft.co.uk/MVCDemo/" target="_blank">
                                    <img class="img-portfolio img-responsive" src="img/logo_mvc5.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="portfolio-item">
                                <h4>Code Project published articles</h4>
                                <p>Various projects and articles submitted to codeproject.com</p>
                                <a href="http://www.codeproject.com/script/Articles/MemberArticles.aspx?amid=10225213" target="_blank">
                                    <img class="img-portfolio img-responsive" src="img/Bob-AI-copy.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="portfolio-item">
                                <h4>Code Project published articles</h4>
                                <p>Various projects and articles submitted to codeproject.com</p>
                                <a href="http://www.codeproject.com/script/Articles/MemberArticles.aspx?amid=10225213" target="_blank">
                                    <img class="img-portfolio img-responsive" src="img/Bob-AI-copy.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside id="testimonials" class="parallax-window callout" data-parallax="scroll" data-image-src="img/shake.png">
        <div class="text-vertical-center">
            <h1>Testimonials and Comments</h1>
            <h2>"..showed excellent technical ability with Microsoft .NET technologies and a good understanding of the project requirements. He delivered the projects in the agreed timescale and was easy to work with throughout." - Nina Mack, Managing Director Worship Digital Limited</h2>
            <h2>"Great person to work with. Very precise and quite helpful in the Mercato Development. We bounce ideas off each other. Pleasure to work with." - Kenneth Kiiza, Developer</h2>
        </div>
    </aside>

    <!-- Map -->
    <section id="location" style="padding-top:10px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Location</h1>
                    <h3>Located in Coventry CV3</h3>

                    <div class="col-lg-12 text-center">
                        <iframe width="100%" height="185px" frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?q=CV3,+United+Kingdom&key=AIzaSyBeCHfuYrV4X581oalHdRrbZL5F3GN-p1g" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!--<div style="height:90%">
        </div>-->
    </section>

    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Contact</h1>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (07800) 533584</li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:baxter@brpsoft.co.uk">baxter@brpsoft.co.uk</a>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <a href="https://uk.linkedin.com/pub/baxter-pearson/16/408/3a9" target="_blank">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <!--<li>
                            <a href="https://twitter.com/guitarguy2097"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
                                                                              
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr />
                    <p class="text-muted">Copyright &copy; BRPSoft Limited 2015</p>
                </div>
            </div>
        </div>
    </footer>                                                                              
                                                                              
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Jquery parralax library -->
    <script src="js/parallax.min.js"></script>

    <!-- Jquery vide library -->
    <script src="js/jquery.vide.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Scrolls to the selected menu item on the page
        $(function () {

            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });

            sendMail();

            //alert('Page loaded');
        });

        function sendMail() {

            var hostInfo = getHostInfo();

            //alert('IP Address pf client' + hostInfo);

            if (hostInfo.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: 'https://mandrillapp.com/api/1.0/messages/send.json',
                    data: {
                        'key': 'D3Dr9ywH1Liq7rfVCk0dWQ',
                        'message': {
                            'from_email': 'baxterrpearson@gmail.com',
                            'to': [
                                {
                                    'email': 'baxter@brpsoft.co.uk',
                                    'name': 'Baxter',
                                    'type': 'to'
                                }
                            ],
                            'autotext': 'true',
                            'subject': 'Someone logged onto your site',
                            'html': hostInfo
                        }
                    },
                    async: true

                }).done(function (response) {
                    console.log(response);
                });
            }
        }

        function getHostInfo() {
            if (window.XMLHttpRequest) xmlhttp = new XMLHttpRequest();
            else xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

            xmlhttp.open("GET", "http://api.hostip.info/get_json.php", false);
            xmlhttp.send();

            hostipInfo = xmlhttp.responseText;

            if (hostipInfo.length > 30) {

                var rawData = hostipInfo;
                var count = rawData.indexOf("ip");
                var ipAddress = rawData.substring(count + 5, rawData.length - 2);

                if (ipAddress != '213.107.234.45')
                    return rawData;
                else
                    return '';
            }
            else
                return '';
        }

    </script>

</body>
</html>
