<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    
   <!-- Header -->
    <!-- Header -->
    <header id="top" class="header parallax-window" callout" data-parallax="scroll" data-image-src="../../img/flow5.jpg">
        <div id="intro" class="container" style="padding-top:5px">
            <div class="row row-centered">
                <div class="col-lg-12 text-centered">
                    <div class="text-vertical-top">
                        <a href="#about" class="btn btn-lg btn-dark">About</a>
                        <a href="#services" class="btn btn-lg btn-dark">Services</a>
                        <a href="#portfolio" class="btn btn-lg btn-dark">Publications</a>
                        <a href="#testimonials" class="btn btn-lg btn-dark">Testimonials</a>
                        <a href="#location" class="btn btn-lg btn-dark">Location</a>
                        <a href="#contact" class="btn btn-lg btn-dark">Contact</a>
                    </div>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-lg-12 text-centered" style="padding-top:150px">
                    <h1>BRPSoft Limited</h1>
                    <h2>Company Number 9735251</h2>
                    <h2>Baxter Pearson</h2>
                    <h3>Software Contractor and Freelancer</h3>
                </div>
            </div>
        </div>
    </header>
                                                                              
                                                                              
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Jquery parralax library -->
    <script src="js/parallax.min.js"></script>

    <!-- Jquery vide library -->
    <script src="js/jquery.vide.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Scrolls to the selected menu item on the page
        $(function () {

            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });

            sendMail();

            //alert('Page loaded');
        });

        function sendMail() {

            var hostInfo = getHostInfo();

            //alert('IP Address pf client' + hostInfo);

            if (hostInfo.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: 'https://mandrillapp.com/api/1.0/messages/send.json',
                    data: {
                        'key': 'D3Dr9ywH1Liq7rfVCk0dWQ',
                        'message': {
                            'from_email': 'baxterrpearson@gmail.com',
                            'to': [
                                {
                                    'email': 'baxter@brpsoft.co.uk',
                                    'name': 'Baxter',
                                    'type': 'to'
                                }
                            ],
                            'autotext': 'true',
                            'subject': 'Someone logged onto your site',
                            'html': hostInfo
                        }
                    },
                    async: true

                }).done(function (response) {
                    console.log(response);
                });
            }
        }

        function getHostInfo() {
            if (window.XMLHttpRequest) xmlhttp = new XMLHttpRequest();
            else xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

            xmlhttp.open("GET", "http://api.hostip.info/get_json.php", false);
            xmlhttp.send();

            hostipInfo = xmlhttp.responseText;

            if (hostipInfo.length > 30) {

                var rawData = hostipInfo;
                var count = rawData.indexOf("ip");
                var ipAddress = rawData.substring(count + 5, rawData.length - 2);

                if (ipAddress != '213.107.234.45')
                    return rawData;
                else
                    return '';
            }
            else
                return '';
        }

    </script>

</body>
</html>
